#darkApp {
  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: #131c21;
  }

  ::-webkit-scrollbar-thumb {
    background: #394045;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #394045aa;
  }

  #navbar {
    background-color: #131c21;
    color: #f1f1f2eb;
    border-bottom: 1px solid #3d4347;
  }

  #message-area {
    #divider {
      background-color: #1e2a30;
      color: #f1f1f2eb;
    }
  }

  #messages {
    background-image: url('../images/dark_backgroun.jpg');
  }

  #left-area {
    background: #131c21;
  }

  .msg {
    .bubble {
      background: #256261;
      box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
      .txt {
        .message {
          color: #f1f1f2f2;
        }
        .timestamp {
          color: #f1f1f2a1;
        }
      }
      .bubble-arrow {
        &:after {
          border-top: 15px solid #256261;
        }
      }
      .bubble-arrow.alt {
        &:after {
          border-top: 15px solid #262d31;
        }
      }
    }
    .bubble.alt {
      background: #262d31;
    }
    .bubble.alt.follow {
      background: #262d31;
    }
  }

  #input-area {
    background: #1e2428;
  }

  #input-area #input {
    background: #33383b;
    color: #f1f1f2f2;
  }

  .chat-list-item {
    background: #131c21;
  }

  .chat-list-item:hover {
    background: hsl(0, 0%, 95%);
  }

  .chat-list-item:active {
    background: hsl(0, 0%, 85%);
  }

  .chat-list-item.active {
    background: hsl(0, 0%, 90%);
  }

  .chat-list-item .chat-details {
    width: 60%;
  }

  .chat-list-item.unread .name,
  .chat-list-item.unread .last-message {
    font-weight: bold;
  }

  .chat-list-item .last-message,
  #message-area #navbar #details {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  #contact {
    background: #131c21;
    color: #f1f1f2eb;
    .badge {
      background: #4cb09c;
    }
  }

  #contact:hover {
    background: #2d3134;
  }

  #contact:active {
    background: #323739;
  }

  #profile {
    background: #131c21;
    .profile-input {
      color: #f1f1f2eb;
    }
    .profile-input:focus {
      border-bottom-color: #f1f1f2eb !important;
    }
    .name:hover {
      background: #2d3134;
    }
    .mode {
      color: #f1f1f2eb;
    }
    .mode:hover {
      background: #2d3134;
    }
  }

  #friend-email {
    i {
      color: #131c21;
    }
  }

  #new-connection {
    background: #131c21;
    color: #ffffff;
    ::placeholder {
      color: #f1f1f2a1;
    }
    #friend-email {
      color: #ffffff;
      input {
        border-bottom-color: #f1f1f2a1 !important;
        color: #ffffff;
      }
      i {
        color: #131c21;
      }
    }
    #group {
      color: #ffffff;
      input {
        border-bottom-color: #f1f1f2a1 !important;
        color: #ffffff;
      }
    }
  }

  #group-container {
    background: #131c21;
    color: #131c21;
    input {
      background-color: #ffffff;
    }
  }

  .alert {
    background: #262d31;
    color: #ffffff;
    border-bottom: 1px solid #262d31;
    border-left: 4px solid #ffffff;
  }
}
