#contact {
  background: white;
  cursor: pointer;
  img {
    height: 50px;
  }
  .name {
    font-weight: 600;
  }
}

#contact:hover {
  background: hsl(0, 0%, 95%);
}

#contact:active {
  background: hsl(0, 0%, 85%);
}

#contact .chat-details {
  width: 60%;
}

#contact.unread .name,
#contact.unread .last-message {
  font-weight: bold;
}

#contact .last-message,
#message-area #navbar #details {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
