#App {
  width: 100vw;
  height: 100vh;
}

#main-container {
  width: 100vw;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}
img {
  cursor: pointer;
}

#navbar {
  background: #ededed;
  color: #000000;
  border-bottom: 1px solid rgb(216, 214, 214);
  height: 67px;
  img {
    height: 50px;
  }
  i {
    font-size: 25px;
    cursor: pointer;
    color: #919191;
  }
}

#input-area {
  background: #f0f0f0;
  font-size: 27px;
}

#input-area #input {
  outline: none;
  border-radius: 50px;
  font-size: 15px;
  font-weight: 600;
}

// #auth {
//   // background: #64ce50aa;
//   // > div {
//   //   padding: 22px 24px 20px;
//   //   background-color: #fbfaf9;
//   //   // background-color: #ffffff;
//   //   border-radius: 3px;
//   //   box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19), 0 12px 15px 0 rgba(0, 0, 0, 0.24);
//   //   width: 425px;
//   //   max-width: 90%;
//   // }

//   // h1 {
//   //   text-align: center;
//   // }
//   // input {
//   //   outline: none;
//   //   border-radius: 50px;
//   //   font-size: 15px;
//   //   font-weight: 600;
//   // }
//   // input:focus {
//   //   border-bottom-color: hsl(0, 0%, 50%) !important;
//   // }
// }
