#navbar {
  background: #ededed;
  color: #000000;
  border-bottom: 1px solid rgb(216, 214, 214);
  img {
    height: 50px;
  }
}

#input-area {
  background: #f0f0f0;
  font-size: 27px;
}

#input-area #input {
  outline: none;
  border-radius: 50px;
  font-size: 15px;
  font-weight: 600;
}
